@media (max-width: 540px){
	.offset-1{
		margin-left: 0;
	}

	
}

@media (max-width: 1000px){
	.about-img{
		padding-bottom: 30px;
	}

	.about-content{
		margin-top: 0px;
	}
}

@media (max-width: 720px){
	.contacts-text{
		font-size: 14px;
	}
}

@media (min-width: 1490px){
	body{
		background-repeat: round space;
	}
}

@media (max-width: 1400px) and (min-width: 992px){
	body{
		background-image: url(about-bg-xs.png);
		background-repeat: space no-repeat;
	}
}

@media (max-width: 992px) and (min-width: 763px){
	body{
		background-image: url(about-bg-xxs.png);
		background-repeat: space no-repeat;
	}
}